body{
    background-color: paleturquoise;
}

#pannel{
    display: flex;
    height : 150px;


    border-radius: 12px;
    z-index: 3;
    margin-left: 0;
    width:100%;
    
}
.tiers{
    flex:1;
    background-color: greenyellow;
    border: solid darkgreen 3px;
    border-radius: 12px;

    height: 100%;}

    .pannelText{
        text-align: center;
        color:darkgreen;
        
        border-radius: 15px;
        font-family:Georgia, 'Times New Roman', Times, serif;
      padding: 5px;
      margin: 0 auto;
      height: 0.9cm;
      display: block;
   
    }
#systeme{
    color:crimson;
}


#jeu{
    margin-left: 25%;
    z-index: 3;
    margin-top:4%;

}

input{
    background-color: aliceblue;
    
    border: darkgreen solid;
}

#gameRow{
    margin-left:0;
}

.playButton{
    width: 30%;

    margin-left: 30%;
    margin-top:10%;
    border: none;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
}

#background{
    z-index:-1;
    width: 100%;
    position:fixed;
    top:0
}